@charset "UTF-8";

.fondo {
	background-color: cornsilk;
}

.cajas {
	background-color: gray;
}

.caja2 {

	display: grid;

}

.titulo1 {
	border: solid 0.1rem;
	background-color: ghostwhite;
	border-color: black;
	width: 7rem;
	transform: translateY(26px);
	margin-left: 1rem;

}

.lista1 {
	Display: flex;
	list-style-type: none;
}

.separacion {
	margin-right: 2rem;
}

.separacion2 {
	margin-right: 8.4rem;
}

.colorcaja {
	background-color: skyblue;
	display: grid;
}

.organizar {
	transform: translateX(1rem);
	display: block;
}

.titulo2 {
	border: solid 0.1rem;
	background-color: ghostwhite;
	border-color: black;
	width: 9rem;
	transform: translateY(22px);
	margin-left: 1rem;

}

.colorcaja1 {
	background-color: lightgreen;
	display: block;
}

.organizar1 {
	transform: translateX(1rem);
	display: block;
}

.Color:hover {
	background-color: yellow;
}

.Color:focus {
     background-color: red;
}

.ajustado{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.reset{
	margin-left: 1rem;
}